body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.s3-item1 {
    width: 30%;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-30%, 100%)rotate(180deg);
    opacity: 0;
    transition: all .5s;
}

.s3-item2 {
    width: 30%;
    position: absolute;
    top: 20%;
    right: 10%;
    transform: translate(30%, 100%)rotate(180deg);
    opacity: 0;
    transition: all .5s;
    /* transition-delay: .25s; */
}

.s5-item1 {
    width: 30%;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-30%, 100%)rotate(180deg);
    opacity: 0;
    transition: all .5s;
}

.s5-item2 {
    width: 30%;
    position: absolute;
    top: 20%;
    right: 10%;
    transform: translate(30%, 100%)rotate(180deg);
    opacity: 0;
    transition: all .5s;
    /* transition-delay: .25s; */
}

.rotateIn {
    transform: translate(0%, 0%)rotate(0deg);
    opacity: 1;
}